h2 {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    text-decoration: none;

    text-align: left;
    font-size: 16px;

    margin-bottom: 60px;
    background-color: #1C1F24;
    border-radius: 16px;
}